{{ ansible_managed | comment }}

# This file contains the auditctl rules that are loaded
# whenever the audit daemon is started via the initscripts.
# The rules are simply the parameters that would be passed
# to auditctl.

# First rule - delete all
# This is to clear out old rules, so we don't append to them.
-D

# Feel free to add below this line. See auditctl man page

# ignore errors
-i

# ignore fork of sshd
-a never,exit -F arch=b32 -S execve -F exe=/usr/sbin/sshd -F auid=-1 -F success=1
-a never,exit -F arch=b64 -S execve -F exe=/usr/sbin/sshd -F auid=-1 -F success=1

# ignore current working directory records
-a always,exclude -F msgtype=CWD

# ignore EOE records
-a always,exclude -F msgtype=EOE

# ignore cron
-a never,user -F subj_type=crond_t
-a exit,never -F subj_type=crond_t

# ignore some uninteresting messages
#-a always,exclude -F msgtype=CRYPTO_KEY_USER
-a exit,never -F arch=b32 -F dir=/dev/shm -k sharedmemaccess
-a exit,never -F arch=b64 -F dir=/dev/shm -k sharedmemaccess

# access to auditlog and config
-w /var/log/audit/
-w /etc/audit/ -p wa
-w /etc/libaudit.conf -p wa
-w /etc/audisp/ -p wa

# audit tools
-w /sbin/auditctl -p x
-w /sbin/auditd -p x

# watch mknod
-a exit,always -F arch=b32 -S mknod -S mknodat
-a exit,always -F arch=b64 -S mknod -S mknodat

# mount
-a exit,always -F arch=b32 -F auid!=-1 -S mount -S umount -S umount2
-a exit,always -F arch=b64 -F auid!=-1 -S mount -S umount2

# change time
-a exit,always -F arch=b32 -S adjtimex -S settimeofday -S stime -S clock_settime -k time
-a exit,always -F arch=b64 -S adjtimex -S settimeofday -S clock_settime -k time

# stunnel
-w /usr/sbin/stunnel -p x

# cron
-w /etc/cron.allow -p wa
-w /etc/cron.deny -p wa
-w /etc/cron.d/ -p wa
-w /etc/cron.daily/ -p wa
-w /etc/cron.hourly/ -p wa
-w /etc/cron.monthly/ -p wa
-w /etc/cron.weekly/ -p wa
-w /etc/crontab -p wa
-w /var/spool/cron/crontabs/

# user, group, password databases
-w /etc/group -p wa
-w /etc/passwd -p wa
-w /etc/gshadow -p wa
-w /etc/shadow -p wa
-w /etc/sudoers -p wa
-w /etc/sudoers.d/ -p wa

# password change, file changes
-w /usr/bin/passwd -p x
-w /usr/sbin/groupadd -p x
-w /usr/sbin/groupmod -p x
-w /usr/sbin/useradd -p x
-w /usr/sbin/usermod -p x

# Monitor for use of process ID change (switching accounts) applications
-w /bin/su -p x
-w /usr/bin/sudo -p x

## login configuration and information
-w /etc/login.defs -p wa
-w /var/log/lastlog -p wa
-w /var/log/tallylog -p wa

# network configuration
-w /etc/hosts -p wa
#-w /etc/conf.d/net -p wa

# system startup scripts
-w /etc/inittab -p wa
-w /etc/init.d/ -p wa
-w /etc/rc.conf -p wa
-w /etc/conf.d/ -p wa
-w /etc/local.d/ -p wa

# env
-w /etc/env.d/ -p wa
-w /etc/environment -p wa
-w /etc/bash/ -p wa
-w /etc/bash_completion.d/ -p wa
-w /etc/csh.env/ -p wa
-w /etc/profile.env/ -p wa

# library search paths
-w /etc/ld.so.conf -p wa

# time
-a exit,always -F arch=b32 -S adjtimex -S settimeofday -S clock_settime
-a exit,always -F arch=b64 -S adjtimex -S settimeofday -S clock_settime

# local time zone
-w /etc/localtime -p wa

# kernel parameters
-w /etc/sysctl.conf -p wa
-w /etc/sysctl.d/ -p wa

# modprobe configuration
-w /etc/modprobe.conf -p wa
-w /etc/modprobe.d/ -p wa

# kernel / modules
-w /lib/modules/ -p wa
-w /boot/ -p wa
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/insmod
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/modprobe
-a always,exit -F perm=x -F auid!=-1 -F path=/sbin/rmmod
-a always,exit -F arch=b64 -S finit_module -S init_module -S delete_module -F auid!=-1
-a always,exit -F arch=b32 -S finit_module -S init_module -S delete_module -F auid!=-1

# kexec
-a always,exit -F arch=b64 -S kexec_load -k KEXEC
-a always,exit -F arch=b32 -S sys_kexec_load -k KEXEC

# swap
-a always,exit -F arch=b64 -S swapon -S swapoff -F auid!=-1
-a always,exit -F arch=b32 -S swapon -S swapoff -F auid!=-1

# pam configuration
-w /etc/pam.d/ -p wa
-w /etc/security/ -p wa

# ansible
-w /etc/ansible -p wa

# ssh configuration
-w /etc/ssh/ -p wa

# changes to hostname
-a exit,always -F arch=b32 -S sethostname -S setdomainname
-a exit,always -F arch=b64 -S sethostname -S setdomainname

# changes to issue
-w /etc/issue -p wa
-w /etc/issue.net -p wa

# log all commands executed by an effective id of 0 aka root.
# -a exit,always -F arch=b64 -F euid=0 -S execve
# -a exit,always -F arch=b32 -F euid=0 -S execve

# Capture all failures to access on critical elements
-a exit,always -F arch=b32 -S write -S open -S openat -S truncate -F dir=/etc -F success=0
-a exit,always -F arch=b64 -S write -S open -S openat -S truncate -F dir=/etc -F success=0
-a exit,always -F arch=b32 -S write -S open -S openat -S truncate -F dir=/bin -F success=0
-a exit,always -F arch=b64 -S write -S open -S openat -S truncate -F dir=/bin -F success=0
-a exit,always -F arch=b32 -S write -S open -S openat -S truncate -F dir=/sbin -F success=0
-a exit,always -F arch=b64 -S write -S open -S openat -S truncate -F dir=/sbin -F success=0
-a exit,always -F arch=b32 -S write -S open -S openat -S truncate -F dir=/usr/bin -F success=0
-a exit,always -F arch=b64 -S write -S open -S openat -S truncate -F dir=/usr/bin -F success=0
-a exit,always -F arch=b32 -S write -S open -S openat -S truncate -F dir=/usr/sbin -F success=0
-a exit,always -F arch=b64 -S write -S open -S openat -S truncate -F dir=/usr/sbin -F success=0
-a exit,always -F arch=b32 -S write -S open -S openat -S truncate -F dir=/var -F success=0
-a exit,always -F arch=b64 -S write -S open -S openat -S truncate -F dir=/var -F success=0
-a exit,always -F arch=b32 -S write -S open -S openat -S truncate -F dir=/home -F success=0
-a exit,always -F arch=b64 -S write -S open -S openat -S truncate -F dir=/home -F success=0

# Capture all failures to access
-a always,exit -F arch=b32 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EACCES
-a always,exit -F arch=b32 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EPERM
-a always,exit -F arch=b64 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EACCES
-a always,exit -F arch=b64 -S creat -S open -S openat -S open_by_handle_at -S truncate -S ftruncate -F exit=-EPERM

# Unsuccessful Creation
-a always,exit -F arch=b32 -S creat,link,mknod,mkdir,symlink,mknodat,linkat,symlinkat -F exit=-EACCES
-a always,exit -F arch=b64 -S mkdir,creat,link,symlink,mknod,mknodat,linkat,symlinkat -F exit=-EACCES
-a always,exit -F arch=b32 -S link,mkdir,symlink,mkdirat -F exit=-EPERM
-a always,exit -F arch=b64 -S mkdir,link,symlink,mkdirat -F exit=-EPERM

# Unsuccessful Modification
-a always,exit -F arch=b32 -S rename -S renameat -S truncate -S chmod -S setxattr -S lsetxattr -S removexattr -S lremovexattr -F exit=-EACCES
-a always,exit -F arch=b64 -S rename -S renameat -S truncate -S chmod -S setxattr -S lsetxattr -S removexattr -S lremovexattr -F exit=-EACCES
-a always,exit -F arch=b32 -S rename -S renameat -S truncate -S chmod -S setxattr -S lsetxattr -S removexattr -S lremovexattr -F exit=-EPERM
-a always,exit -F arch=b64 -S rename -S renameat -S truncate -S chmod -S setxattr -S lsetxattr -S removexattr -S lremovexattr -F exit=-EPERM

# attribute changes
-a always,exit -F arch=b32 -S chmod -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S chown -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S fchmod -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S fchmodat -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S fchown -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S fchownat -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S fremovexattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S fsetxattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S lchown -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S lremovexattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S lsetxattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S removexattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b32 -S setxattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S chmod  -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S chown -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S fchmod -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S fchmodat -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S fchown -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S fchownat -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S fremovexattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S fsetxattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S lchown -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S lremovexattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S lsetxattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S removexattr -F auid>=1000 -F auid!=4294967295
-a always,exit -F arch=b64 -S setxattr -F auid>=1000 -F auid!=4294967295

# Monitor usage of commands to change power state
-w /sbin/shutdown -p x
-w /sbin/poweroff -p x
-w /sbin/reboot -p x
-w /sbin/halt -p x

# audit file deletion
#-a always,exit -F arch=b32 -S rmdir -S unlink -S unlinkat -S rename -S renameat -F auid>=500 -F auid!=4294967295 -k delete
#-a always,exit -F arch=b64 -S rmdir -S unlink -S unlinkat -S rename -S renameat -F auid>=500 -F auid!=4294967295 -k delete
-a always,exit -F arch=b32 -S rmdir -S unlink -S unlinkat -S rename -S renameat
-a always,exit -F arch=b64 -S rmdir -S unlink -S unlinkat -S rename -S renameat

# log access from root on home dirs
-a always,exit -F dir=/home/ -F uid=0 -C auid!=obj_uid

# log  execution of other binaries with changed uid
-a always,exit -F arch=b32 -C auid!=uid -S execve
-a always,exit -F arch=b64 -C auid!=uid -S execve

# stunnel
-w /usr/sbin/stunnel -p x -k stunnel


# 32bit API Exploitation
-a always,exit -F arch=b32 -S all -k 32bit_api

# suspicious activity
-w /usr/bin/whoami -p x
-w /usr/bin/wget -p x
-w /usr/bin/curl -p x
-w /usr/bin/base64 -p x
-w /usr/bin/nc -p x
-w /bin/netcat -p x
-w /usr/bin/ssh -p x
-w /sbin/iptables -p x
-w /sbin/ifconfig -p x
-w /usr/bin/tcpdump -p x
-w /usr/bin/traceroute -p x
-a always,exit -F arch=b32 -S ptrace
-a always,exit -F arch=b64 -S ptrace
-a always,exit -F arch=b32 -S ptrace -F a0=0x4
-a always,exit -F arch=b64 -S ptrace -F a0=0x4
-a always,exit -F arch=b32 -S ptrace -F a0=0x5
-a always,exit -F arch=b64 -S ptrace -F a0=0x5
-a always,exit -F arch=b32 -S ptrace -F a0=0x6
-a always,exit -F arch=b64 -S ptrace -F a0=0x6
-a always,exit -F dir=/home -F uid=0 -F auid>=1000 -C auid!=obj_uid 

# The following rule would cause all of the syscalls listed to be ignored in logging.
-a exit,never -F arch=b32 -S read -S write -S open -S fstat -S mmap -S brk -S munmap -S nanosleep -S fcntl -S close -S dup2 -S rt_sigaction -S stat
-a exit,never -F arch=b64 -S read -S write -S open -S fstat -S mmap -S brk -S munmap -S nanosleep -S fcntl -S close -S dup2 -S rt_sigaction -S stat

# The following rule would cause the capture of all systems not caught above.
# -a exit,always -S all

# Increase the buffers to survive stress events
-b 8192

# enable auditing
-e 1

#lock auditing
-e 2

# vim:ft=conf:
